#hyper_light_drifter {
  background-image: url("../images/pixelart/Hyper_Light_Drifter.png");
}

#stardew_valley {
  background-image: url("../images/pixelart/Stardew_Valley.png");
}

#celeste {
  background-image: url("../images/pixelart/Celeste.png");
}

#dont_starve {
  background-image: url("../images/hand-drawn/Dont_Starve.png");
}

#ori_and_the_blind_forest {
  background-image: url("../images/hand-drawn/Ori_And_The_Blind_Forest.png");
}

#rayman {
  background-image: url("../images/hand-drawn/Rayman.png");
}

#a_night_in_the_woods {
  background-image: url("../images/flat/A_Night_In_The_Woods.png");
}

#dumb_ways_to_die {
  background-image: url("../images/flat/Dumb_Ways_To_Die.png");
}

#pixelart-game {
    background-color: black;
    height: calc(100% - 56px - 4px);
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
}

#loco_roco {
  background-image: url("../images/flat/Loco_Roco.png");
}

div.carousel-item-fullimage {
  background-position: center;
  width: 100%;
  height: 100%;
}

div.carousel-inner {
  width: 100%;
  height: 100%;
}

#pixelart-carousel {
  position: relative;
}

.middle-card-header {
  position: relative;
  text-align: center;
}

#landing {
  background-image: url("../images/pixelart/Celeste.png");
  background-position: center;
}

.middle-card {
  border-radius: 7px;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  overflow: hidden;
  top: 25%;
  z-index: 500;
}

#landing-card {
  background-color: rgba(105,88,95,1);
}

#pixelart-card {
  background-color: rgba(255,255,255, 0.5);
}

#hand-drawn-card {
  background-color: rgba(255,255,255, 0.5);
}

#flat-card {
  background-color: rgba(255,255,255, 0.5);
}
